@import './src.css';

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 250px;
    height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
/* toggling */
#content.active {
    margin-left: calc(100% - (100% - 250px));
}

#content {
    width: 100vw !important; 
    padding: 40px;
    margin-left: 5%;
    transition: all 0.3s;
}

/* dropdowns style*/
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

.show {
    display: block;
}
/* media */
@media (max-width: 1024px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left:-250px;
    }
    #content {
        margin-left: 5%;
    }
    #content.active {
        margin-left: 5%;
    }
    #navbarSupportedContent.show li {
        width: 100px;
    }
    
}

@media(max-width: 992px){
    #sidebarCollapse span {
        display: none !important;
    }
    .navbar-collapse:not(.show) {
        display: none;
    }
    
}
/* styling */
#navbarSupportedContent,
#navbarSupportedContent ul{
    margin-top: 10px;
    transition: all 0.3s;
}

#navbarSupportedContent li {
    transition: all 0.3s;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: var(--clr-bg-sidenav);
    color: #ffff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--clr-bg-sidenav-header);
}

#sidebar ul.components {
    padding: 20px 0;
    cursor: pointer;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    transition: all 0.3s;
}

#sidebar ul li a{
    height: 50px;
    width: 100%;
    color: var(--clr-txt-primary) !important;
    font-size: 16px;
    display: table;
    transition: all 0.3s;
}

#sidebar ul li:hover a {
    color: var(--clr-bg-sidenav) !important;
}

#sidebar ul li:hover {
    background-color: #fff;
    color: black;
}

#sidebar ul li a {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

#content nav {
    margin-bottom: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

#navbarSupportedContent li {
    color: black;
}

/* table */

.table-wrapper {
    border-radius: 10px;
    padding: 10px 20px;
    border: solid 1px black;
}

.list-group-item {
    padding: 15px 20px;
    font-size: var(--font-content);
}

table {
}

tr{
    vertical-align: middle;
}

.row-background {
    background-color: aqua;
}

td a:not(.btn_a){
    display: block;
    width: 100%;
    padding-right: 10px;
    word-wrap: wrap;
    border-right: solid 0.2px black;
}

tr .btn {
    width: 100px;
}

/* dropdown menu */
.dropdown-menu {
    padding: 0 !important;
}

.dropdown-menu a.dropdown-item{
    height: 100%;
    width: 100%;
    padding: 5px 15px;
    background-color: var(--clr-bg-sidenav) !important;
    color: var(--clr-txt-primary) !important;
}

/* book info */
#book-info .book-content {
    width: 70%;
    padding: 10px 30px;
    border: solid 3px black;
    border-radius: 10px;
}

.book-image{
    /* width: 100%; */
    height: 320px;
}

.book-image img {
    height: 100%;
}

/* form main */

.form-main {
    border: var(--border-form);
    border-radius: 10px;
    padding: 15px 20px;
    max-width: 950px;
    box-shadow: var(--shadow-form);
}

.form-main .form-control {
    border-radius: 10px;
    margin: 5px;
}

.form-main .submit {
    width: 100px;
    height: 40px;
    padding: 5px;
}